CTDL1/New folder/Blend/Html/Schemas/en/html_5.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xsd:schema xmlns='http://schemas.microsoft.com/intellisense/html5'
			xmlns:xsd='http://www.w3.org/2001/XMLSchema'
			targetNamespace='http://schemas.microsoft.com/intellisense/html5'
			xmlns:vs='http://schemas.microsoft.com/Visual-Studio-Intellisense'
			xmlns:svg="http://www.w3.org/2000/svg"
			vs:clientom="w3c-dom1.tlb"
			vs:ishtmlschema="true"
			vs:isserverschema="false"
			vs:htmlflavor="5.0"
			vs:cssschema="CSS 2.1"
			vs:SuccinctFriendlyName="HTML5"
			vs:customattrprefix="data-"
>
	<!--
		Warning:                                                                                    
		Warning: 
		Warning: Do not change the targetNamespace above 
		Warning: 
		Warning: 
-->

	<!-- TODO: list of charsets for meta intellisense -->
	<!-- TODO: DOM5 -->

	<xsd:annotation>
		<xsd:documentation>
			Microsoft Visual Studio schema for HTML5
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="I18Languages.xsd" />
	<xsd:include schemaLocation="svg.xsd"/>

	<xsd:attributeGroup name="coreServerAttributeGroup">
		<!-- Attributes -->
		<xsd:attribute name="EnableTheming" type="xsd:boolean" vs:nonbrowseable="true" vs:category="ASP.NET" vs:disallowedonmobilepages="true" default="true" vs:serverattribute="true" />
		<xsd:attribute name="EnableViewState" type="xsd:boolean" vs:category="ASP.NET" default="true" vs:serverattribute="true" />
		<xsd:attribute name="SkinID" type="xsd:string" vs:nonbrowseable="true" vs:category="ASP.NET" vs:nonfilterable="true" vs:disallowedonmobilepages="true" default="" vs:serverattribute="true" />
		<xsd:attribute name="Visible" type="xsd:boolean" vs:category="ASP.NET" default="true" vs:serverattribute="true" />
		<!-- Events -->
		<xsd:attribute name="OnDataBinding" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnDisposed" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnInit" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnLoad" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnPreRender" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnUnload" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="aServerAttributeGroup">
		<xsd:attribute name="OnServerClick" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="buttonServerAttributeGroup">
		<xsd:attribute name="CausesValidation" type="xsd:boolean" vs:category="ASP.NET" default="true" vs:serverattribute="true" />
		<xsd:attribute name="ValidationGroup" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="OnServerClick" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="formServerAttributeGroup">
		<xsd:attribute name="DefaultButton" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="DefaultFocus" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="SubmitDisabledControls" type="xsd:boolean" vs:category="ASP.NET" default="false" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="inputServerAttributeGroup">
		<xsd:attribute name="CausesValidation" type="xsd:boolean" vs:inputtype="button image submit" vs:category="ASP.NET" vs:serverattribute="true" />
		<xsd:attribute name="OnServerClick" vs:omtype="event" vs:inputtype="button image submit" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="OnServerChange" vs:omtype="event" vs:inputtype="checkbox hidden radio text" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
		<xsd:attribute name="ValidationGroup" type="xsd:string" vs:inputtype="button image submit" vs:category="ASP.NET" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="multipleServerAttributeGroup">
		<xsd:attribute name="multiple" type="xsd:boolean" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="selectServerAttributeGroup">
		<xsd:attribute name="DataSourceID" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="DataTextField" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="DataValueField" type="xsd:string" vs:category="ASP.NET" default="" vs:serverattribute="true" />
		<xsd:attribute name="OnServerChange" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="textareaServerAttributeGroup">
		<xsd:attribute name="OnServerChange" vs:omtype="event" vs:category="ASP.NET" vs:nonfilterable="true" vs:serverattribute="true" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="coreAttributeGroup">
		<xsd:attribute name="runat" vs:readonly="true" vs:nonfilterable="true" vs:serverattribute="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="server" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="accesskey" />
		<xsd:attribute name="class" />
		<xsd:attribute name="contenteditable" vs:standalone="noname">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="inherit" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="contextmenu" />
		<xsd:attribute name="dir" default="ltr">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="ltr" />
					<xsd:enumeration value="rtl" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="data-" vs:readonly="true" />
		<xsd:attribute name="data-win-control" vs:requiredprojectcapabilities="immersive" />
		<xsd:attribute name="data-win-options" vs:requiredprojectcapabilities="immersive" />
		<xsd:attribute name="data-win-fragmentLoad" vs:requiredprojectcapabilities="immersive" />
		<xsd:attribute name="data-win-bind" vs:requiredprojectcapabilities="immersive" />
		<xsd:attribute name="data-win-bindsource" vs:requiredprojectcapabilities="immersive" />
		<xsd:attribute name="data-win-res" vs:requiredprojectcapabilities="immersive" />
		<xsd:attribute name="draggable" vs:standalone="noname">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="auto" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="dropzone" />
		<xsd:attribute name="id" vs:renametype="classmember" />
		<xsd:attribute name="hidden" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="hidden" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lang" type="i18LanguageCode" />
		<xsd:attribute name="role">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="alert" />
					<xsd:enumeration value="alertdialog" />
					<xsd:enumeration value="application" />
					<xsd:enumeration value="article" />
					<xsd:enumeration value="banner" />
					<xsd:enumeration value="button" />
					<xsd:enumeration value="checkbox" />
					<xsd:enumeration value="columnheader" />
					<xsd:enumeration value="combobox" />
					<xsd:enumeration value="complementary" />
					<xsd:enumeration value="contentinfo" />
					<xsd:enumeration value="definition" />
					<xsd:enumeration value="dialog" />
					<xsd:enumeration value="directory" />
					<xsd:enumeration value="document" />
					<xsd:enumeration value="form" />
					<xsd:enumeration value="grid" />
					<xsd:enumeration value="gridcell" />
					<xsd:enumeration value="group" />
					<xsd:enumeration value="heading" />
					<xsd:enumeration value="img" />
					<xsd:enumeration value="link" />
					<xsd:enumeration value="list" />
					<xsd:enumeration value="listbox" />
					<xsd:enumeration value="listitem" />
					<xsd:enumeration value="log" />
					<xsd:enumeration value="main" />
					<xsd:enumeration value="marquee" />
					<xsd:enumeration value="math" />
					<xsd:enumeration value="menu" />
					<xsd:enumeration value="menubar" />
					<xsd:enumeration value="menuitem" />
					<xsd:enumeration value="menuitemcheckbox" />
					<xsd:enumeration value="menuitemradio" />
					<xsd:enumeration value="navigation" />
					<xsd:enumeration value="note" />
					<xsd:enumeration value="option" />
					<xsd:enumeration value="presentation" />
					<xsd:enumeration value="progressbar" />
					<xsd:enumeration value="radio" />
					<xsd:enumeration value="radiogroup" />
					<xsd:enumeration value="region" />
					<xsd:enumeration value="row" />
					<xsd:enumeration value="rowgroup" />
					<xsd:enumeration value="rowheader" />
					<xsd:enumeration value="scrollbar" />
					<xsd:enumeration value="search" />
					<xsd:enumeration value="separator" />
					<xsd:enumeration value="slider" />
					<xsd:enumeration value="spinbutton" />
					<xsd:enumeration value="status" />
					<xsd:enumeration value="tab" />
					<xsd:enumeration value="tablist" />
					<xsd:enumeration value="tabpanel" />
					<xsd:enumeration value="textbox" />
					<xsd:enumeration value="timer" />
					<xsd:enumeration value="toolbar" />
					<xsd:enumeration value="tooltip" />
					<xsd:enumeration value="tree" />
					<xsd:enumeration value="treegrid" />
					<xsd:enumeration value="treeitem" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="spellcheck" type="xsd:boolean" vs:standalone="noname" />
		<xsd:attribute name="style" vs:builder="style" />
		<xsd:attribute name="tabIndex" />
		<xsd:attribute name="title" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="microdataAttributeGroup">
		<xsd:attribute name="itemscope" vs:standalone="true" />
		<xsd:attribute name="itemtype">
			<xsd:simpleType>
				<xsd:union>
					<xsd:simpleType>
						<xsd:restriction base="xsd:anyURI">
							<xsd:enumeration value="http://schema.org/Article" />
							<xsd:enumeration value="http://schema.org/BlogPosting" />
							<xsd:enumeration value="http://schema.org/Blog" />
							<xsd:enumeration value="http://schema.org/Book" />
							<xsd:enumeration value="http://schema.org/Movie" />
							<xsd:enumeration value="http://schema.org/Photograph" />
							<xsd:enumeration value="http://schema.org/Review" />
							<xsd:enumeration value="http://schema.org/Event" />
							<xsd:enumeration value="http://schema.org/Organization" />
							<xsd:enumeration value="http://schema.org/Person" />
							<xsd:enumeration value="http://schema.org/Place" />
							<xsd:enumeration value="http://schema.org/Product" />
							<xsd:enumeration value="http://data-vocabulary.org/Event" />
							<xsd:enumeration value="http://data-vocabulary.org/Organization" />
							<xsd:enumeration value="http://data-vocabulary.org/Person" />
							<xsd:enumeration value="http://data-vocabulary.org/Product" />
							<xsd:enumeration value="http://data-vocabulary.org/Review" />
							<xsd:enumeration value="http://data-vocabulary.org/Breadcrumb" />
							<xsd:enumeration value="http://data-vocabulary.org/Offer" />
						</xsd:restriction>
					</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="xsd:anyURI" />
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="itemprop" />
		<xsd:attribute name="itemref" />
		<xsd:attribute name="itemid" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="ariaAttributeGroup">
		<xsd:attribute name="aria-activedescendant" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-atomic" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-autocomplete" default="none" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="inline" />
					<xsd:enumeration value="list" />
					<xsd:enumeration value="both" />
					<xsd:enumeration value="none" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-busy" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-checked" default="undefined" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="mixed" />
					<xsd:enumeration value="undefined" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-controls" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-describedby" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-disabled" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-dropeffect" default="none" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="copy" />
					<xsd:enumeration value="move" />
					<xsd:enumeration value="link" />
					<xsd:enumeration value="execute" />
					<xsd:enumeration value="popup" />
					<xsd:enumeration value="none" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-expanded" default="undefined" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="undefined" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-flowto" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-grabbed" default="undefined" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="undefined" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-haspopup" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-hidden" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-invalid" default="false" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="grammar" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="spelling" />
					<xsd:enumeration value="true" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-label" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-labelledby" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-level" type="xsd:integer" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-live" default="off" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="off" />
					<xsd:enumeration value="polite" />
					<xsd:enumeration value="assertive" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-multiline" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-multiselectable" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-orientation" default="horizontal" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="vertical" />
					<xsd:enumeration value="horizontal" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-owns" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-posinset" type="xsd:integer" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-pressed" default="undefined" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="mixed" />
					<xsd:enumeration value="undefined" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-readonly" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-relevant" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="additions" />
					<xsd:enumeration value="removals" />
					<xsd:enumeration value="text" />
					<xsd:enumeration value="all" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-required" type="xsd:boolean" default="false" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-selected" default="undefined" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="true" />
					<xsd:enumeration value="false" />
					<xsd:enumeration value="undefined" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-setsize" type="xsd:integer" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-sort" default="none" vs:category="WAI-ARIA">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="ascending" />
					<xsd:enumeration value="descending" />
					<xsd:enumeration value="none" />
					<xsd:enumeration value="other" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="aria-valuemax" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-valuemin" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-valuenow" vs:category="WAI-ARIA" />
		<xsd:attribute name="aria-valuetext" vs:category="WAI-ARIA" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="commonEventsGroup">
		<xsd:attribute name="onabort" vs:omtype="event" />
		<xsd:attribute name="onblur" vs:omtype="event" />
		<xsd:attribute name="oncanplay" vs:omtype="event" />
		<xsd:attribute name="oncanplaythrough" vs:omtype="event" />
		<xsd:attribute name="onchange" vs:omtype="event" />
		<xsd:attribute name="onclick" vs:omtype="event" />
		<xsd:attribute name="oncontextmenu" vs:omtype="event" />
		<xsd:attribute name="oncuechange" vs:omtype="event" />
		<xsd:attribute name="ondblclick" vs:omtype="event" />
		<xsd:attribute name="ondrag" vs:omtype="event" />
		<xsd:attribute name="ondragend" vs:omtype="event" />
		<xsd:attribute name="ondragenter" vs:omtype="event" />
		<xsd:attribute name="ondragleave" vs:omtype="event" />
		<xsd:attribute name="ondragover" vs:omtype="event" />
		<xsd:attribute name="ondragstart" vs:omtype="event" />
		<xsd:attribute name="ondrop" vs:omtype="event" />
		<xsd:attribute name="ondurationchange" vs:omtype="event" />
		<xsd:attribute name="onemptied" vs:omtype="event" />
		<xsd:attribute name="onended" vs:omtype="event" />
		<xsd:attribute name="onerror" vs:omtype="event" />
		<xsd:attribute name="onfocus" vs:omtype="event" />
		<xsd:attribute name="oninput" vs:omtype="event" />
		<xsd:attribute name="oninvalid" vs:omtype="event" />
		<xsd:attribute name="onkeydown" vs:omtype="event" />
		<xsd:attribute name="onkeypress" vs:omtype="event" />
		<xsd:attribute name="onkeyup" vs:omtype="event" />
		<xsd:attribute name="onload" vs:omtype="event" />
		<xsd:attribute name="onloadeddata" vs:omtype="event" />
		<xsd:attribute name="onloadedmetadata" vs:omtype="event" />
		<xsd:attribute name="onloadstart" vs:omtype="event" />
		<xsd:attribute name="onmousedown" vs:omtype="event" />
		<xsd:attribute name="onmousemove" vs:omtype="event" />
		<xsd:attribute name="onmouseout" vs:omtype="event" />
		<xsd:attribute name="onmouseover" vs:omtype="event" />
		<xsd:attribute name="onmouseup" vs:omtype="event" />
		<xsd:attribute name="onmousewheel" vs:omtype="event" />
		<xsd:attribute name="onpause" vs:omtype="event" />
		<xsd:attribute name="onplay" vs:omtype="event" />
		<xsd:attribute name="onplaying" vs:omtype="event" />
		<xsd:attribute name="onprogress" vs:omtype="event" />
		<xsd:attribute name="onratechange" vs:omtype="event" />
		<xsd:attribute name="onreadystatechange" vs:omtype="event" />
		<xsd:attribute name="onreset" vs:omtype="event" />
		<xsd:attribute name="onscroll" vs:omtype="event" />
		<xsd:attribute name="onseeked" vs:omtype="event" />
		<xsd:attribute name="onseeking" vs:omtype="event" />
		<xsd:attribute name="onselect" vs:omtype="event" />
		<xsd:attribute name="onshow" vs:omtype="event" />
		<xsd:attribute name="onstalled" vs:omtype="event" />
		<xsd:attribute name="onsubmit" vs:omtype="event" />
		<xsd:attribute name="onsuspend" vs:omtype="event" />
		<xsd:attribute name="ontimeupdate" vs:omtype="event" />
		<xsd:attribute name="onvolumechange" vs:omtype="event" />
		<xsd:attribute name="onwaiting" vs:omtype="event" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="commonAttributeGroup">
		<xsd:attributeGroup ref="coreAttributeGroup" />
		<xsd:attributeGroup ref="microdataAttributeGroup" />
		<xsd:attributeGroup ref="ariaAttributeGroup" />
		<xsd:attributeGroup ref="commonEventsGroup" />
		<xsd:attributeGroup ref="coreServerAttributeGroup" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="mediaAttributeGroup">
		<xsd:attribute name="src" type="xsd:anyURI" />
		<xsd:attribute name="preload">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="none"/>
					<xsd:enumeration value="metadata"/>
					<xsd:enumeration value="auto"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="autoplay" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="autoplay" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="loop" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="loop" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="controls" vs:standalone="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="controls" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="mediagroup" />
		<xsd:attribute name="muted" vs:standalone="true" />
	</xsd:attributeGroup>

	<xsd:group name="metadataContent">
		<xsd:choice>
			<xsd:element ref="base" />
			<xsd:element ref="command" />
			<xsd:element ref="link" />
			<xsd:element ref="meta" />
			<xsd:element ref="noscript" />
			<xsd:element ref="script" />
			<xsd:element ref="style" />
			<xsd:element name="title" type="titleType" minOccurs="1" maxOccurs="1" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="flowContent">
		<xsd:choice>

			<xsd:element ref="a" />
			<xsd:element ref="abbr" />
			<xsd:element ref="area"/>
			<xsd:element ref="address" />
			<xsd:element ref="article" />
			<xsd:element ref="aside" />
			<xsd:element ref="audio" />

			<xsd:element ref="b" />
			<xsd:element ref="bdi" />
			<xsd:element ref="bdo" />
			<xsd:element ref="blockquote" />
			<xsd:element ref="br" />
			<xsd:element ref="button" />

			<xsd:element ref="canvas" />
			<xsd:element ref="cite" />
			<xsd:element ref="code" />
			<xsd:element ref="command" />

			<xsd:element ref="datalist" />
			<xsd:element ref="del" />
			<xsd:element ref="details" />
			<xsd:element ref="dfn" />
			<xsd:element ref="dialog" />
			<xsd:element ref="div" />
			<xsd:element ref="dl" />

			<xsd:element ref="em" />
			<xsd:element ref="embed" />

			<xsd:element ref="fieldset" />
			<xsd:element ref="figcaption"/>
			<xsd:element ref="figure" />
			<xsd:element ref="footer" />
			<xsd:element ref="form" />

			<xsd:element ref="h1" />
			<xsd:element ref="h2" />
			<xsd:element ref="h3" />
			<xsd:element ref="h4" />
			<xsd:element ref="h5" />
			<xsd:element ref="h6" />
			<xsd:element ref="header" />
			<xsd:element ref="hgroup" />
			<xsd:element ref="hr" />
			<xsd:element ref="wbr" />

			<xsd:element ref="i" />
			<xsd:element ref="iframe" />
			<xsd:element ref="img" />
			<xsd:element ref="input" />
			<xsd:element ref="ins" />

			<xsd:element ref="kbd" />
			<xsd:element ref="keygen" />

			<xsd:element ref="label" />
			<xsd:element ref="link" />

			<xsd:element ref="map" />
			<xsd:element ref="mark" />
			<xsd:element ref="math" />
			<xsd:element ref="menu" />
			<xsd:element ref="meta" />
			<xsd:element ref="meter" />

			<xsd:element ref="nav" />
			<xsd:element ref="noscript" />

			<xsd:element ref="ol" />
			<xsd:element ref="object" />
			<xsd:element ref="output" />

			<xsd:element ref="p" />
			<xsd:element ref="param" />
			<xsd:element ref="pre" />
			<xsd:element ref="progress" />

			<xsd:element ref="q" />

			<xsd:element ref="ruby" />

			<xsd:element ref="s" />
			<xsd:element ref="samp" />
			<xsd:element ref="script" />
			<xsd:element ref="section" />
			<xsd:element ref="select" />
			<xsd:element ref="small" />
			<xsd:element ref="source" />
			<xsd:element ref="span" />
			<xsd:element ref="strong" />
			<xsd:element ref="style" />
			<xsd:element ref="sub" />
			<xsd:element ref="sup" />
			<xsd:element ref="svg" />

			<xsd:element ref="table" />
			<xsd:element ref="textarea" />
			<xsd:element ref="time" />
			<xsd:element ref="track" />

			<xsd:element ref="u" />
			<xsd:element ref="ul" />

			<xsd:element ref="var" />
			<xsd:element ref="video" />

			<xsd:element ref="x-ms-webview" />

		</xsd:choice>
	</xsd:group>

	<xsd:group name="headingContent">
		<xsd:choice>
			<xsd:element ref="h1" />
			<xsd:element ref="h2" />
			<xsd:element ref="h3" />
			<xsd:element ref="h4" />
			<xsd:element ref="h5" />
			<xsd:element ref="h6" />
			<xsd:element ref="hgroup" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="sectioningContent">
		<xsd:choice>
			<xsd:element ref="article" />
			<xsd:element ref="aside" />
			<xsd:element ref="nav" />
			<xsd:element ref="section" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="phrasingContent">
		<xsd:choice>
			<xsd:element ref="a" />
			<xsd:element ref="abbr" />
			<xsd:element ref="area"/>
			<xsd:element ref="audio" />

			<xsd:element ref="b" />
			<xsd:element ref="bdi" />
			<xsd:element ref="bdo" />
			<xsd:element ref="br" />
			<xsd:element ref="button" />

			<xsd:element ref="canvas" />
			<xsd:element ref="cite" />
			<xsd:element ref="code" />
			<xsd:element ref="command" />

			<xsd:element ref="datalist" />
			<xsd:element ref="del" />
			<xsd:element ref="dfn" />

			<xsd:element ref="em" />
			<xsd:element ref="embed" />

			<xsd:element ref="i" />
			<xsd:element ref="iframe" />
			<xsd:element ref="img" />
			<xsd:element ref="input" />
			<xsd:element ref="ins" />

			<xsd:element ref="kbd" />
			<xsd:element ref="keygen" />

			<xsd:element ref="label" />
			<xsd:element ref="link" />

			<xsd:element ref="map"/>
			<xsd:element ref="mark" />
			<xsd:element ref="math" />
			<xsd:element ref="meta" />
			<xsd:element ref="meter" />

			<xsd:element ref="noscript" />

			<xsd:element ref="object" />
			<xsd:element ref="output" />

			<xsd:element ref="pre" />
			<xsd:element ref="progress" />

			<xsd:element ref="q" />

			<xsd:element ref="ruby" />

			<xsd:element ref="s" />
			<xsd:element ref="samp" />
			<xsd:element ref="script" />
			<xsd:element ref="select" />
			<xsd:element ref="small" />
			<xsd:element ref="span" />
			<xsd:element ref="strong" />
			<xsd:element ref="sub" />
			<xsd:element ref="sup" />
			<xsd:element ref="svg" />

			<xsd:element ref="textarea" />
			<xsd:element ref="time" />

			<xsd:element ref="u" />

			<xsd:element ref="var" />
			<xsd:element ref="video" />

			<xsd:element ref="wbr" />

			<xsd:element ref="x-ms-webview" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="formElements">
		<xsd:choice>
			<xsd:element ref="button" />
			<xsd:element ref="fieldset" />
			<xsd:element ref="input" />
			<xsd:element ref="keygen" />
			<xsd:element ref="label" />
			<xsd:element ref="object" />
			<xsd:element ref="output" />
			<xsd:element ref="select" />
			<xsd:element ref="textarea" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="labelElements">
		<xsd:choice>
			<xsd:element ref="button" />
			<xsd:element ref="input" />
			<xsd:element ref="keygen" />
			<xsd:element ref="select" />
			<xsd:element ref="textarea" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="interactiveContent">
		<xsd:choice>
			<xsd:element ref="a" />
			<xsd:element ref="audio" />
			<xsd:element ref="button" />
			<xsd:element ref="details" />
			<xsd:element ref="embed" />
			<xsd:element ref="iframe" />
			<xsd:element ref="img" />
			<xsd:element ref="input" />
			<xsd:element ref="keygen" />
			<xsd:element ref="label" />
			<xsd:element ref="menu" />
			<xsd:element ref="object" />
			<xsd:element ref="select" />
			<xsd:element ref="textarea" />
			<xsd:element ref="video" />
			<xsd:element ref="x-ms-webview" />
		</xsd:choice>
	</xsd:group>


	<!-- End of group definitions -->

	<!--================ Document Structure ==================================-->

	<!-- This element must be the first one in the file! -->
	<xsd:element name="html">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="body" type="bodyType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="head" type="headType" minOccurs="0" maxOccurs="1" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="manifest" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>

	<!--================ Document Head =======================================-->

	<xsd:element name="head" type="headType" />

	<xsd:complexType name="headType">
		<xsd:choice>
			<xsd:group ref="metadataContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

	<xsd:element name="title" type="titleType" />

	<xsd:complexType name="titleType" mixed="true">
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

	<!-- document base URI -->
	<xsd:element name="base" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="target" type="browsingContext" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="link" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="hreflang" type="i18LanguageCode" />
			<xsd:attribute name="rel" type="linkLinkType" use="required" />
			<xsd:attribute name="media" type="mediaType" default="screen" />
			<xsd:attribute name="type" type="contentType" vs:readonly="true" />
			<xsd:attribute name="sizes" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="meta" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="http-equiv">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="content-language" />
								<xsd:enumeration value="content-type" />
								<xsd:enumeration value="default-style" />
								<xsd:enumeration value="refresh" />
								<xsd:enumeration value="set-cookie" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="application-name" />
								<xsd:enumeration value="author" />
								<xsd:enumeration value="description" />
								<xsd:enumeration value="generator" />
								<xsd:enumeration value="keywords" />
								<xsd:enumeration value="viewport" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="content" />
			<xsd:attribute name="charset">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="euc-jp" />
								<xsd:enumeration value="iso-8859-1" />
								<xsd:enumeration value="iso-8859-2" />
								<xsd:enumeration value="iso-8859-15" />
								<xsd:enumeration value="windows-1251" />
								<xsd:enumeration value="windows-1252" />
								<xsd:enumeration value="us-ascii" />
								<xsd:enumeration value="utf-8" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<!-- style info, which may include CDATA sections -->

	<xsd:element name="style">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="text/css" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="media" type="mediaType" default="screen" />
			<xsd:attribute name="scoped" vs:standalone="true" />
		</xsd:complexType>
	</xsd:element>

	<!-- script statements, which may include CDATA sections -->

	<xsd:element name="script">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="coreAttributeGroup" />
			<xsd:attribute name="charset">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="euc-jp" />
								<xsd:enumeration value="iso-8859-1" />
								<xsd:enumeration value="iso-8859-2" />
								<xsd:enumeration value="iso-8859-15" />
								<xsd:enumeration value="windows-1251" />
								<xsd:enumeration value="windows-1252" />
								<xsd:enumeration value="us-ascii" />
								<xsd:enumeration value="utf-8" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="text/ecmascript" />
								<xsd:enumeration value="text/javascript" />
								<xsd:enumeration value="text/javascript1.0" />
								<xsd:enumeration value="text/javascript1.1" />
								<xsd:enumeration value="text/javascript1.2" />
								<xsd:enumeration value="text/javascript1.3" />
								<xsd:enumeration value="text/javascript1.4" />
								<xsd:enumeration value="text/javascript1.5" />
								<xsd:enumeration value="text/jscript" />
								<xsd:enumeration value="text/x-javascript" />
								<xsd:enumeration value="text/x-ecmascript" />
								<xsd:enumeration value="text/html" />
								<xsd:enumeration value="text/x-jquery-tmpl" />
								<xsd:enumeration value="text/vbscript" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="defer" vs:standalone="true" />
			<xsd:attribute name="async" vs:standalone="true" />
		</xsd:complexType>
	</xsd:element>

	<!-- alternate Content container for non script-based rendering -->

	<xsd:element name="noscript" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Document Body ====================================-->

	<xsd:element name="body" type="bodyType" />

	<xsd:complexType name="bodyType">
		<xsd:choice>
			<xsd:group ref="flowContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
		<xsd:attribute name="onafterprint" vs:omtype="event" />
		<xsd:attribute name="onbeforeprint" vs:omtype="event" />
		<xsd:attribute name="onbeforeunload" vs:omtype="event" />
		<xsd:attribute name="onhashchange" vs:omtype="event" />
		<xsd:attribute name="onmessage" vs:omtype="event" />
		<xsd:attribute name="onoffline" vs:omtype="event" />
		<xsd:attribute name="ononline" vs:omtype="event" />
		<xsd:attribute name="onpopstate" vs:omtype="event" />
		<xsd:attribute name="onredo" vs:omtype="event" />
		<xsd:attribute name="onresize" vs:omtype="event" />
		<xsd:attribute name="onstorage" vs:omtype="event" />
		<xsd:attribute name="onundo" vs:omtype="event" />
		<xsd:attribute name="onunload" vs:omtype="event" />
	</xsd:complexType>

	<xsd:element name="section" type="simpleFlowContentElement" vs:disallowedancestor="address" />
	<xsd:element name="nav" type="simpleFlowContentElement" vs:disallowedancestor="address" />

	<xsd:element name="article" vs:disallowedancestor="address">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="pubdate" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="aside" type="simpleFlowContentElement" vs:disallowedancestor="address" />

	<xsd:element name="h1" type="simplePhrasingContentElement" vs:disallowedancestor="address" />
	<xsd:element name="h2" type="simplePhrasingContentElement" vs:disallowedancestor="address" />
	<xsd:element name="h3" type="simplePhrasingContentElement" vs:disallowedancestor="address" />
	<xsd:element name="h4" type="simplePhrasingContentElement" vs:disallowedancestor="address" />
	<xsd:element name="h5" type="simplePhrasingContentElement" vs:disallowedancestor="address" />
	<xsd:element name="h6" type="simplePhrasingContentElement" vs:disallowedancestor="address" />

	<xsd:element name="hgroup">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="header" vs:disallowedancestor="header footer address" type="simpleFlowContentElement" />
	<xsd:element name="footer" vs:disallowedancestor="header footer address" type="simpleFlowContentElement" />
	<xsd:element name="address" vs:disallowedancestor="address" type="simpleFlowContentElement" />

	<xsd:element name="p" type="simplePhrasingContentElement" vs:implicitclosure="true" />

	<xsd:element name="br" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="pre" type="simplePhrasingContentElement" />
	<xsd:element name="dialog">
		<xsd:complexType>
			<!-- TODO: support xsd:sequence
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="dd" />
				<xsd:element ref="dt" />
			</xsd:sequence>
				-->
			<xsd:choice>
				<xsd:element ref="dd" />
				<xsd:element ref="dt" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="blockquote">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ol">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="start" type="xsd:integer" />
			<xsd:attribute name="reversed" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="reversed" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="type" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ul">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="li" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="value" type="xsd:integer" vs:requiredparent="ol" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dl">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="dd" />
				<xsd:element ref="dt" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dt" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dd"  vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<!--================== The Anchor Element ================================-->

	<xsd:element name="a" vs:disallowedancestor="a button" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<!-- Content Model -->
			<!-- Attributes -->
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="target" type="browsingContext" vs:requiredattribute="href" />
			<xsd:attribute name="ping" vs:requiredattribute="href" />
			<xsd:attribute name="rel" type="anchorLinkType" vs:requiredattribute="href" />
			<xsd:attribute name="media" type="mediaType" default="screen" vs:requiredattribute="href" />
			<xsd:attribute name="hreflang" type="i18LanguageCode" vs:requiredattribute="href" />
			<xsd:attribute name="type" type="simpleContentType" vs:requiredattribute="href" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="em" type="simplePhrasingContentElement" />
	<xsd:element name="strong" type="simplePhrasingContentElement" />
	<xsd:element name="small" type="simplePhrasingContentElement" />
	<xsd:element name="cite" type="simplePhrasingContentElement" />
	<xsd:element name="bdi" type="simplePhrasingContentElement" />

	<xsd:element name="q">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="dfn" type="simplePhrasingContentElement" vs:disallowedancestor="dfn" />
	<xsd:element name="abbr" type="simplePhrasingContentElement" />
	<xsd:element name="code" type="simplePhrasingContentElement" />
	<xsd:element name="var" type="simplePhrasingContentElement" />
	<xsd:element name="samp" type="simplePhrasingContentElement" />
	<xsd:element name="kbd" type="simplePhrasingContentElement" />
	<xsd:element name="sub" type="simplePhrasingContentElement" />
	<xsd:element name="sup" type="simplePhrasingContentElement" />
	<xsd:element name="i" type="simplePhrasingContentElement" />
	<xsd:element name="b" type="simplePhrasingContentElement" />
	<xsd:element name="u" type="simplePhrasingContentElement" />
	<xsd:element name="s" type="simplePhrasingContentElement" />
	<xsd:element name="mark" type="simplePhrasingContentElement" />

	<xsd:element name="progress" vs:disallowedancestor="progress">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="value" type="vs:positiveFloat" />
			<xsd:attribute name="max" type="vs:positiveFloat" />
			<xsd:attribute name="form" vs:associatedcontrolid="form"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="meter" vs:disallowedancestor="meter">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="value" type="xsd:float" use="required"/>
			<xsd:attribute name="min" type="xsd:float" />
			<xsd:attribute name="max" type="xsd:float" />
			<xsd:attribute name="low" type="xsd:float" />
			<xsd:attribute name="high" type="xsd:float" />
			<xsd:attribute name="optimum" type="xsd:float" />
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="time" vs:disallowedancestor="time">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="datetime" type="xsd:dateTime" />
			<xsd:attribute name="pubdate" vs:standalone="true" vs:requiredattribute="datetime" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ruby">
		<xsd:complexType mixed="true">
			<!-- TODO: support xsd:sequence
			<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:group ref="phrasingContent" />
				<xsd:choice>
					<xsd:element name="rt" type="rtType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="rp" type="rpType" minOccurs="1" maxOccurs="1" />
				</xsd:choice>
			</xsd:sequence>
				-->
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
				<xsd:element ref="rt" />
				<xsd:element ref="rp" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="rt" type="simplePhrasingContentElement" />
	<xsd:element name="rp" type="simplePhrasingContentElement" />
	<xsd:element name="bdo" type="simplePhrasingContentElement" />
	<xsd:element name="span" type="simplePhrasingContentElement" />

	<!--=================== Inserted/Deleted Text ============================-->

	<xsd:element name="ins">
		<xsd:complexType mixed="true" vs:contentmodel="transparent">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
			<xsd:attribute name="datetime" type="xsd:dateTime" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="del">
		<xsd:complexType mixed="true" vs:contentmodel="transparent">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="cite" type="xsd:anyURI" />
			<xsd:attribute name="datetime" type="xsd:dateTime" />
		</xsd:complexType>
	</xsd:element>

	<!--==================== Embedded content ======================================-->

	<xsd:element name="figure" vs:disallowedancestor="legend">
		<xsd:complexType mixed="true">
			<!-- TODO: support xsd:sequence
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element ref="legend" />
					<xsd:group ref="flowContent" />
				</xsd:sequence>
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:group ref="flowContent" />
					<xsd:element ref="legend" />
				</xsd:sequence>
				<xsd:group ref="flowContent" />
			</xsd:choice>
				-->
			<xsd:choice>
				<xsd:group ref="flowContent" />
				<xsd:element name="legend" type="legendType" minOccurs="0" maxOccurs="1" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="figcaption" type="simpleFlowContentElement" />

	<xsd:element name="img" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="alt" />
			<xsd:attribute name="crossorigin" />
			<xsd:attribute name="src" type="xsd:anyURI" use="required" vs:preferredextensions=".jpg;.jpeg;.gif;.bmp;.jpe;.png;.dib;.tif;.wmf;.ras;.eps;.pcx;.pcd;.tga;.ashx;.asix" />
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="usemap" />
			<xsd:attribute name="ismap" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="ismap" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="border" vs:deprecated="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="iframe" vs:disallowedancestor="button">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="srcdoc"/>
			<xsd:attribute name="name" type="browsingContext" />
			<xsd:attribute name="sandbox">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="allow-same-origin" />
						<xsd:enumeration value="allow-top-navigation" />
						<xsd:enumeration value="allow-forms" />
						<xsd:enumeration value="allow-scripts" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="seamless" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="seamless" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="embed" vs:disallowedancestor="button" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="type" type="vs:mimeType" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="object">
		<xsd:complexType mixed="true" vs:clientom="__object" vs:contentmodel="transparent">
			<xsd:choice>
				<xsd:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="data" type="xsd:anyURI" />
			<xsd:attribute name="type" type="vs:mimeType"/>
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="usemap" type="xsd:anyURI" />
			<xsd:attribute name="name" type="browsingContext" />
			<xsd:attribute name="form"  vs:associatedcontrolid="form" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="param" type="paramType" vs:void="true"/>

	<xsd:complexType name="paramType">
		<xsd:attributeGroup ref="coreAttributeGroup" />
		<xsd:attribute name="name" use="required" />
		<xsd:attribute name="value" use="required" />
	</xsd:complexType>

	<!--=================== Interactive content =======================================-->

	<xsd:element name="details" vs:disallowedancestor="button">
		<xsd:complexType mixed="true">
			<!-- TODO: support xsd:sequence
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element ref="legend" />
				<xsd:group ref="flowContent" />
			</xsd:sequence>
			-->
			<xsd:choice>
				<xsd:element name="summary" type="summaryType" minOccurs="1" maxOccurs="1" />
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="open" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="open" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="summary" type="summaryType" />

	<xsd:complexType name="summaryType" mixed="true">
		<xsd:attributeGroup ref="coreAttributeGroup"/>
	</xsd:complexType>

	<xsd:element name="command" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="command" />
						<xsd:enumeration value="checkbox" />
						<xsd:enumeration value="radio" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" />
			<xsd:attribute name="icon" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="checked" vs:requiredattribute="type=radio|checkbox" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="checked" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="radiogroup" vs:requiredattribute="type=radio" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="menu" vs:disallowedancestor="button">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="li" />
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="context" />
						<xsd:enumeration value="toolbar" />
						<xsd:enumeration value="list" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Miscellaneous elements =======================================-->

	<xsd:element name="legend" type="legendType" />

	<xsd:complexType name="legendType" mixed="true">
		<xsd:choice>
			<xsd:group ref="phrasingContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

	<xsd:element name="div" type="simpleFlowContentElement" />

	<!--=================== Interactive content =======================================-->

	<xsd:element name="source" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="type" />
			<xsd:attribute name="media" type="mediaType" default="screen"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="track" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="kind">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="subtitles" />
						<xsd:enumeration value="captions" />
						<xsd:enumeration value="descriptions" />
						<xsd:enumeration value="chapters" />
						<xsd:enumeration value="metadata" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="srclang" type="i18LanguageCode" />
			<xsd:attribute name="label" />
			<xsd:attribute name="default" vs:standalone="true" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="audio" vs:contentmodel="transparent" vs:disallowedancestor="audio video button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="source" />
				<xsd:element ref="track" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attributeGroup ref="mediaAttributeGroup"/>
			<xsd:attribute name="crossorigin" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="video" vs:contentmodel="transparent" vs:disallowedancestor="audio video button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="source" />
				<xsd:element ref="track" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attributeGroup ref="mediaAttributeGroup" />
			<xsd:attribute name="poster" />
			<xsd:attribute name="crossorigin" />
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="x-ms-webview">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Horizontal Rule ==================================-->

	<xsd:element name="hr" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<!--=================== Word break ==================================-->

	<xsd:element name="wbr" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>


	<!--================ Forms ===============================================-->

	<xsd:element name="form" vs:disallowedancestor="form">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="accept-charset" />
			<xsd:attribute name="action" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp"/>
			<xsd:attribute name="autocomplete">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="on" />
						<xsd:enumeration value="off" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="enctype">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="multipart/form-data" />
						<xsd:enumeration value="application/x-www-form-urlencoded" />
						<xsd:enumeration value="text/plain" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="method" default="get">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="get" />
						<xsd:enumeration value="post" />
						<xsd:enumeration value="put" />
						<xsd:enumeration value="delete" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" />
			<xsd:attribute name="novalidate" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="novalidate" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="target" type="browsingContext" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="fieldset">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element name="legend" type="legendType" minOccurs="1" maxOccurs="1" />
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="disabled" vs:standalone="true" />
			<xsd:attribute name="form"  vs:associatedcontrolid="form" />
			<xsd:attribute name="name" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="label" vs:disallowedancestor="button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
			<xsd:attribute name="for" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="input" vs:disallowedancestor="button" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="button" />
						<xsd:enumeration value="checkbox" />
						<xsd:enumeration value="color" />
						<xsd:enumeration value="date" />
						<xsd:enumeration value="datetime" />
						<xsd:enumeration value="datetime-local" />
						<xsd:enumeration value="email" />
						<xsd:enumeration value="file" />
						<xsd:enumeration value="hidden" />
						<xsd:enumeration value="image" />
						<xsd:enumeration value="month" />
						<xsd:enumeration value="number" />
						<xsd:enumeration value="password" />
						<xsd:enumeration value="radio" />
						<xsd:enumeration value="range" />
						<xsd:enumeration value="reset" />
						<xsd:enumeration value="search" />
						<xsd:enumeration value="submit" />
						<xsd:enumeration value="text" />
						<xsd:enumeration value="tel" />
						<xsd:enumeration value="time" />
						<xsd:enumeration value="url" />
						<xsd:enumeration value="week" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="accept"  vs:inputtype="file" />
			<xsd:attribute name="alt"  vs:inputtype="image" />
			<xsd:attribute name="autocomplete" vs:inputtype="color date datetime datetime-local email month number password range search tel text time url week" >
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="on" />
						<xsd:enumeration value="off" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="autofocus" vs:standalone="true"/>
			<xsd:attribute name="checked" vs:standalone="true" vs:inputtype="checkbox radio">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="checked" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
			<xsd:attribute name="formaction" vs:inputtype="submit image" />
			<xsd:attribute name="formenctype" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="multipart/form-data" />
						<xsd:enumeration value="application/x-www-form-urlencoded" />
						<xsd:enumeration value="text/plain" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formmethod" default="get" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="get" />
						<xsd:enumeration value="post" />
						<xsd:enumeration value="put" />
						<xsd:enumeration value="delete" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formnovalidate" vs:inputtype="submit image" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="formnovalidate" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formtarget" type="browsingContext" vs:inputtype="submit image" />
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" vs:inputtype="image" />
			<xsd:attribute name="list" vs:inputtype="color date datetime datetime-local email month number range search tel text time url week" />
			<xsd:attribute name="max" vs:inputtype="date datetime datetime-local month number range search time week" />
			<xsd:attribute name="maxlength" type="xsd:positiveInteger" vs:inputtype="email password search tel text time url" />
			<xsd:attribute name="min" vs:inputtype="date datetime datetime-local month number range search time week" />
			<xsd:attribute name="multiple" vs:inputtype="email file" vs:standalone="true"/>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="pattern" vs:inputtype="email password search tel text time url" vs:requiredattribute="title" />
			<xsd:attribute name="placeholder" vs:inputtype="email password search tel text url" />
			<xsd:attribute name="readonly" vs:inputtype="date datetime datetime-local email month number password search tel text time url week" />
			<xsd:attribute name="required" vs:inputtype="checkbox date datetime datetime-local email file month number password radio search tel text time url week" vs:standalone="true"/>
			<xsd:attribute name="size" type="xsd:positiveInteger" vs:inputtype="email password search tel text time url" />
			<xsd:attribute name="src" type="xsd:anyURI" vs:inputtype="image" />
			<xsd:attribute name="step" vs:inputtype="date datetime datetime-local month number range search time week" />
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" vs:inputtype="image" />
			<xsd:attribute name="value" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="button" vs:disallowedancestor="a button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attributeGroup ref="buttonServerAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true" />
			<xsd:attribute name="disabled" vs:standalone="true" />
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
			<xsd:attribute name="formaction" vs:inputtype="submit image" />
			<xsd:attribute name="formenctype" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="multipart/form-data" />
						<xsd:enumeration value="application/x-www-form-urlencoded" />
						<xsd:enumeration value="text/plain" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formmethod" default="get" vs:inputtype="submit image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="get" />
						<xsd:enumeration value="post" />
						<xsd:enumeration value="put" />
						<xsd:enumeration value="delete" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formnovalidate" vs:inputtype="submit image" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="formnovalidate" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="formtarget" type="browsingContext" vs:inputtype="submit image" />

			<xsd:attribute name="name" />
			<xsd:attribute name="value" />
			<xsd:attribute name="type" default="submit" vs:readonly="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="button" />
						<xsd:enumeration value="reset" />
						<xsd:enumeration value="submit" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="select" vs:disallowedancestor="a button">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="option" />
				<xsd:element ref="optgroup" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attributeGroup ref="multipleServerAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true" />
			<xsd:attribute name="disabled" vs:standalone="true" />
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
			<xsd:attribute name="multiple" vs:standalone="true" />
			<xsd:attribute name="name" />
			<xsd:attribute name="required" vs:standalone="true" />
			<xsd:attribute name="size" type="xsd:positiveInteger" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="datalist">
		<xsd:complexType>
			<xsd:choice vs:exclusive="true">
				<xsd:element ref="option" />
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="optgroup">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="option" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="option" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="selected" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="selected" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label" />
			<xsd:attribute name="value" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="textarea" vs:disallowedancestor="a button">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
			<xsd:attribute name="maxlength" type="xsd:positiveInteger" />
			<xsd:attribute name="name" />
			<xsd:attribute name="placeholder"   />
			<xsd:attribute name="readonly" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="readonly" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="required" vs:standalone="true" />
			<xsd:attribute name="rows" type="xsd:integer" />
			<xsd:attribute name="cols" type="xsd:integer" />
			<xsd:attribute name="wrap">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="hard" />
						<xsd:enumeration value="soft" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="keygen" vs:disallowedancestor="a button" vs:implicitclosure="true" vs:void="true">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="autofocus" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="autofocus" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="challenge" />
			<xsd:attribute name="disabled" vs:standalone="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="disabled" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
			<xsd:attribute name="keytype">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="rsa" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="output" vs:disallowedancestor="a button">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="phrasingContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="for" />
			<xsd:attribute name="form" vs:associatedcontrolid="form" />
			<xsd:attribute name="name" />
		</xsd:complexType>
	</xsd:element>

	<!--================== Canvas ============================-->

	<xsd:element name="canvas" vs:contentmodel="transparent">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="width" type="xsd:nonNegativeInteger" />
			<xsd:attribute name="height" type="xsd:nonNegativeInteger" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="map">
		<xsd:complexType mixed="true" vs:contentmodel="transparent">
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="name" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="area" vs:implicitclosure="true" vs:requiredancestor="map" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="Shape" default="rect" >
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="rect" />
						<xsd:enumeration value="circle" />
						<xsd:enumeration value="poly" />
						<xsd:enumeration value="default" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="coords" />
			<xsd:attribute name="href" type="xsd:anyURI" vs:preferredextensions=".asp;.aspx;.asmx;.asax;.ashx;.asix;.ascx;.htm;.html;.xml;.xsd;.config;.asa;.css;.shtm;.shtml;.php;.jsp" />
			<xsd:attribute name="hreflang" type="i18LanguageCode" />
			<xsd:attribute name="alt" use="required" vs:requiredattribute="href" />
			<xsd:attribute name="target" type="browsingContext" />
			<xsd:attribute name="media" type="mediaType" default="screen"/>
			<xsd:attribute name="rel" type="anchorLinkType" />
			<xsd:attribute name="ping" />
			<xsd:attribute name="type" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="math">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="svg" type="SVG.svg" vs:isxml="true"/>

	<!--======================= Tables =======================================-->

	<xsd:element name="table" vs:disallowedancestor="caption">
		<xsd:complexType>
			<!-- TODO: cupport order per W3C: 
				In this order: optionally a caption element, followed by either zero or more colgroup elements, 
				followed optionally by a thead element, followed optionally by a tfoot element, 
				followed by either zero or more tbody elements or one or more tr elements, followed optionally 
				by a tfoot element (but there can only be one tfoot element child in total). 
			-->
			<xsd:choice>
				<xsd:element name="caption" type="simpleFlowContentElement" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="colgroup" />
				<xsd:element name="thead" type="theadType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="tfoot" type="tfootType" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="tbody" />
				<xsd:element ref="tr" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="summary" />
			<xsd:attribute name="border">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="caption" type="simpleFlowContentElement" />

	<xsd:element name="colgroup">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="col" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="span" type="xsd:integer" default="1" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="col" vs:void="true">
		<xsd:complexType>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="span" type="xsd:integer" default="1" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="thead" type="theadType" />

	<xsd:complexType name="theadType" vs:implicitclosure="true">
		<xsd:choice>
			<xsd:element ref="tr" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

	<xsd:element name="tfoot" type="tfootType" />

	<xsd:complexType name="tfootType" vs:implicitclosure="true">
		<xsd:choice>
			<xsd:element ref="tr" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

	<xsd:element name="tbody" vs:implicitclosure="true">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tr" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="tr" vs:implicitclosure="true">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="th" type="thType" />
				<xsd:element ref="td" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="th" type="thType" />

	<xsd:complexType name="thType" mixed="true" vs:implicitclosure="true">
		<xsd:choice>
			<xsd:group ref="phrasingContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
		<xsd:attribute name="headers" />
		<xsd:attribute name="rowspan" default="1" type="xsd:positiveInteger" />
		<xsd:attribute name="colspan" default="1" type="xsd:positiveInteger" />
		<xsd:attribute name="scope">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="auto" />
					<xsd:enumeration value="col" />
					<xsd:enumeration value="colgroup" />
					<xsd:enumeration value="row" />
					<xsd:enumeration value="rowgroup" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="td" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="commonAttributeGroup" />
			<xsd:attribute name="headers" />
			<xsd:attribute name="rowspan" default="1" type="xsd:positiveInteger" />
			<xsd:attribute name="colspan" default="1" type="xsd:positiveInteger" />
		</xsd:complexType>
	</xsd:element>

	<!-- Special element for deriving flow content members -->
	<xsd:element name="FlowContentElement" vs:nonbrowseable="true">
		<xsd:complexType>
			<xsd:choice>
				<xsd:group ref="flowContent" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<!-- XDR datatype derivations -->

	<xsd:simpleType name="mediaType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="screen" />
					<xsd:enumeration value="print" />
					<xsd:enumeration value="tty" />
					<xsd:enumeration value="tv" />
					<xsd:enumeration value="projection" />
					<xsd:enumeration value="handheld" />
					<xsd:enumeration value="braille" />
					<xsd:enumeration value="aural" />
					<xsd:enumeration value="all" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="anchorLinkType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="alternate" />
					<xsd:enumeration value="archives" />
					<xsd:enumeration value="author" />
					<xsd:enumeration value="bookmark" />
					<xsd:enumeration value="canonical" />
					<xsd:enumeration value="external" />
					<xsd:enumeration value="first" />
					<xsd:enumeration value="help" />
					<xsd:enumeration value="index" />
					<xsd:enumeration value="last" />
					<xsd:enumeration value="license" />
					<xsd:enumeration value="next" />
					<xsd:enumeration value="nofollow" />
					<xsd:enumeration value="noreferrer"/>
					<xsd:enumeration value="prefetch" />
					<xsd:enumeration value="prev" />
					<xsd:enumeration value="search" />
					<xsd:enumeration value="sidebar" />
					<xsd:enumeration value="tag" />
					<xsd:enumeration value="up" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="linkLinkType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="alternate" />
					<xsd:enumeration value="archives" />
					<xsd:enumeration value="author" />
					<xsd:enumeration value="first" />
					<xsd:enumeration value="help" />
					<xsd:enumeration value="icon" />
					<xsd:enumeration value="index" />
					<xsd:enumeration value="last" />
					<xsd:enumeration value="license" />
					<xsd:enumeration value="next" />
					<xsd:enumeration value="pingback" />
					<xsd:enumeration value="prefetch" />
					<xsd:enumeration value="prev" />
					<xsd:enumeration value="search" />
					<xsd:enumeration value="stylesheet" />
					<xsd:enumeration value="sidebar" />
					<xsd:enumeration value="tag" />
					<xsd:enumeration value="up" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="browsingContext">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="_blank" />
					<xsd:enumeration value="_parent" />
					<xsd:enumeration value="_self" />
					<xsd:enumeration value="_top" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="contentType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="html/sandboxed" />
					<xsd:enumeration value="text/css" />
					<xsd:enumeration value="text/html" />
					<xsd:enumeration value="text/javascript" />
					<xsd:enumeration value="text/plain" />
					<xsd:enumeration value="text/x-component" />
					<xsd:enumeration value="text/x-html-insertion" />
					<xsd:enumeration value="text/xml" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="simpleContentType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="text/asp" />
					<xsd:enumeration value="text/asa" />
					<xsd:enumeration value="text/html" />
					<xsd:enumeration value="text/plain" />
					<xsd:enumeration value="text/xml" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:complexType mixed="true" name="simpleFlowContentElement">
		<xsd:choice>
			<xsd:group ref="flowContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

	<xsd:complexType mixed="true" name="simplePhrasingContentElement">
		<xsd:choice>
			<xsd:group ref="phrasingContent" />
		</xsd:choice>
		<xsd:attributeGroup ref="commonAttributeGroup" />
	</xsd:complexType>

</xsd:schema>

